$font_color:rgba(255,255,255,.8);
.confirm_container{
    background-image:linear-gradient(0deg,#f5f5f5,#f5f5f5 65%,hsla(0,0%,96%,.3) 75%,hsla(0,0%,96%,0)),linear-gradient(270deg,#0085ff,#0af);
    height:100vh;
    .con_process{
        padding:2vh 1vh;
    }
    .cart{
        padding-left: 0;
    }
    .price_fee{
        flex:2;
        text-indent:1rem;
    }
    .order_address{
        color:$font_color;
        font-size:.9rem;
        padding:0 .5rem;
    }
    .address_big{
        color:#fff;
        font-size:1.4rem;
        font-weight:600;
    }
    .address_big::after{
        content:'';
        position: absolute;
        width:8px;
        height:8px;
        border-top:1px solid #fff;
        border-right:1px solid #fff;
        transform:rotate(45deg);
        -webkit-transform: rotate(45deg) translate(1.45rem, -.45rem);
    }
    .order_item{
        color:$bg-color;
        padding:.4em 0 0 ;
    }
    .con_invalid{
        
    }
}