$bg_color:#fff;
// 商家推荐
.shop_bg{
    background-color:$bg_color;
    display: flex;
    flex-direction:column;
    align-items:center;
    .shop_logo{
        width:20vw;
        img{width:100%;}
    }
    .shop_title{
        text-align: center;
        color:#333;
        font-size:18px;
        font-weight: 600;
        padding:10px 0;
    }
    .shop_rate{
        color:#666;
        line-height: 1.6rem;
    }
    .disc_note{
        width:78%;
        display: flex;
        flex-direction: column;
    }
    span{
        color:#999;
        font-size:12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.shop_banner{
    background: $bg_color;
    width:94%;
    padding:3% 3%;
    margin-top:3px;
    text-align: center;
    img{
        width:100%
    }
}
.recommend{
    background: $bg_color;
    width: 100vw;
    p.recom_head{ font-weight: 600;text-indent: 1em;}
    .rec_list{
        width:100%;
        ul{
            display: flex;
            overflow-x: auto;
        }
        ul,ul li{
            list-style: none;
            padding:0 2.4vw 2vw 0;
        }
        li:first-child{
            margin-left: 2.4vw;
        }
        li{
            margin:2.4vw 2.4vw 0 0;
            padding-bottom: 4vw;
            width: 34vw;
        }
        li .f_img{
            background: #f5f5f5;
            width:34vw;
            height:34vw;
            line-height: 24vw;
            overflow: hidden;
        }
        li .f_img img{object-fit:cover;width:100%;height:100%;}
        .rec_title{
            font-size: .8rem;
        }
        .rec_soldout{
            color:#999;
            font-size:.24rem;
            line-height: 1rem;
        }
        .buy_rec{
            display: flex;
            color:#ff5339;
            align-items:baseline;
            font-size: 1rem;
            justify-content: space-between;
            padding:1vw 0 0 0;
            .rec_base_price{
                font-size: .24rem;
                text-indent: .1rem;
            }
            .action_rec_btn{
                float: right;
            }
            .add_rec,.del_rec{
                background: #3190e8;
                border-radius: 50%;
                display: inline-block;
                font-size: 1.2rem;
                height:1.2rem;
                color:#fff;
                line-height: 1.2rem;
                text-align: center;
                width:1.2rem;
            }
            .del_rec{
                background:$bg_color;
                border:1px solid #3190e8;
                color:#3190e8;
            }
            .buy_count{
                color:#363636;
                // font-size: 1.2rem;
            }
        }
        .price_rec{
            font-size: 1.2rem;
        }
        .price_rec:before{
            content:"￥";
            font-size:1rem;
        }
    }
}
// 商品列表
.food{
    background: $bg_color;
    width: 100%;
    display: flex;
    .food_sort{
        background: #f5f5f5;
        width:20vw;
        ul{
            // height: 4rem;
            margin-right: 2vw;
        }
        .sort_item{
            font-size: .8rem;
            line-height: 2rem;
            padding:2vw 2.4vw;
        }
    }
    .food_list{
        position: relative;
        width:80vw;
        height: 100%;
        overflow-y:scroll;
        .food_list_container{
            height: 100%;
            overflow-y:auto;
            color:#999;
            padding:0 0 140px 0;
        }
        .sort_tag{
            color:#666;
        }
        .food_list_container dt{
            margin-left:2vw;
            padding:2vw 8vw 2vw 0;
            font-size: .8rem;
        }
        .food_list_container span{
            font-size: .6rem;
        }
        .food_show{
            padding:1.2vw 2vw;
            display: flex;
            .food_img{
                flex:1;
                width:24vw;
            }
            .food_img img{
                width:100%;
                object-fit: cover;
                border-radius: .5vw;
            }
            .food_info{
                padding:0 2vw;
                flex:2;
            }
            .food_name{
                color:#363636;
                font-size:1.1rem;
                font-weight: 700;        
            }
            .food_sub,.food_act{
                font-size:.5rem;
                padding:1.3vw 0 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width:48vw;
            }
            .food_act{
                color:#f07373;
                padding:1vw 0 1vw 0;
                .rest{
                    background: rgba(255,76,13,.15);
                    color:#ff4c0d;
                    margin-left: .8vw;
                    vertical-align: middle;
                    padding:0 .6vw;
                }
            }
            
            .price{
                align-items: baseline;
                color:#ff5339;
            }
            .price span{font-size:1.2rem;}
            .price:before{
                content:'￥';
                font-size: 1rem;
            }
            span.sale_base,.old_price{
                font-size:.2rem;
            }
            .old_price{
                color:#999;
            }
            .old_price:before{
                content:'￥'
            }
            //计数器开始
            .active_btn{
                float: right;
                line-height:1.6rem;
                height: 1.4rem;
                display: flex;
            }
            .active_btn span{
                padding:.2vw 1vw;
                font-size: 1rem;
                color:rgba(0,0,0,.87);
                text-align: center;
                width: 7vw;
            }
            .del_cart a,.add_cart a{
                border:solid 1px #3190e8;
                background: #3190e8;
                border-radius: 50%;
                color:#fff;
                display: block;
                font-size: 1.3rem;
                text-align: center;
                line-height:1.3rem;
                width:1.3rem;
            }
            .del_cart a{
                background: $bg_color;
                color:#3190e8;
                font-size:2rem;
            }
            //计数器结束
        }
        
    }
}
// 订单列表
.order_list_fold,.order_list_expand{
    background: $bg_color;
    position:fixed;
    left:0;
    right:0;
    bottom:0;
}
.order_list_fold{padding:0 0 45px 0}
.order_list_expand{
    position: fixed;
    bottom:26vw; 
    left:0;
    right:0;
}
.order_list_fold ul li,.food_box_fee{
    border-bottom: 1px solid #f2f2f2;
    font-size:1.1rem;
    list-style: none;
    margin:0 0 0 4vw;
    height: 14vw;
    line-height: 14vw;
    padding:0 4vw 0 0;
    display: flex;
}
.order_li{
    flex:5.5;
}
.order_account,.order_action{
    flex:2.5;
    text-align: right;
}
.order_action{
    flex:3
}
.requirement{
    background:#fffad6;
    border-top:1px solid #f9e8a3;
    text-align:center;
    font-size:.24rem;
    line-height:5vw;
}
.requirement .highlight{
    color:#FF5339
}
.clear_cart{
    background: #eceff1;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding:0 4vw;
    height: 10vw;
    //内部元素垂直居中
    align-items: center;
}
.clear_cart span:first-child{
    border-left:#3190e8 solid 5px;
    padding-left:1.3vw;
}
// 购物车
.cart{
    background: rgba(61,61,63,.9);
    color:#999;
    display: flex;
    position: fixed;
    bottom:0vw;
    left:0;
    right:0;
    height: 12vw;
    padding-left:21vw;
    .cart_img{
        border: 1.333333vw solid #444;
        border-radius: 50%; 
        height:11.333vw;
        width:11.333vw;
        display: flex;
        justify-content: center;
        position: absolute;
        left:2.4vw;
        bottom:1vw;
    }
    .my_car{
        background: radial-gradient(circle,#363636 6.266667vw,#444 0);
    }
    .cart_img:before{        
        content:'';
        position: absolute;
        top:0;
        left:0;
    }
    .cart_img>div{
        background-image:url('/assets/img/cart.svg');
        background-position: center center;
        background-size:6vw;
        background-repeat: no-repeat;
        background-color: #3190e8;
        border-radius: 50%;
        color:#fff;
        text-align: center;
        width:11.333vw;
        height:11.333vw;
    }
    .cart_img>div>span{
        background: #f87622;
        border-radius: 8px;
        font-size: .6rem;
        line-height: 16px;
        position: absolute;
        left:30px;
        top:-6px;
        padding:0 5px;
        height:16px;
    }
    .price_fee{
        flex: 1;
        font-size:1rem;
        line-height: normal;
        padding:1vw 0 0 0;
    }
    .order_item{
        
    }
    .fee{
        font-size:.4rem;
    }
    .pay_order,.pay_order_active{
        background-color: #535356;
        color:#fff;
        flex:1;
        font-size:1rem;
        font-weight: 700;
        text-align: center;
        line-height: 12vw;
        // 文本不能被选择
        user-select: none;
        width:16vw;
    }
    .pay_order_active{
        background-color: #38ca73;
    }
}