$bg_color:#fff;
// 商家推荐
.shop_bg{
    background-color:$bg_color;
    display: flex;
    flex-direction:column;
    align-items:center;
    .shop_logo{
        width:20vw;
        img{width:100%;}
    }
    .shop_title{
        text-align: center;
        color:#333;
        font-size:18px;
        font-weight: 600;
        padding:10px 0;
    }
    .shop_rate{
        color:#666;
        line-height: 1.6rem;
    }
    .disc_note{
        width:78%;
        display: flex;
        flex-direction: column;
    }
    span{
        color:#999;
        font-size:12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.shop_banner{
    background: $bg_color;
    width:94%;
    padding:3% 3%;
    margin-top:3px;
    text-align: center;
    img{
        width:100%
    }
}
.recommend{
    background: $bg_color;
    width: 100vw;
    p.recom_head{ font-weight: 600;text-indent: 1em;}
    .rec_list{
        width:100%;
        ul{
            display: flex;
            overflow-x: auto;
        }
        ul,ul li{
            list-style: none;
            padding:0 2.4vw 2vw 0;
        }
        li:first-child{
            margin-left: 2.4vw;
        }
        li{
            margin:2.4vw 2.4vw 0 0;
            padding-bottom: 4vw;
            width: 34vw;
        }
        li .f_img{
            background: #f5f5f5;
            width:34vw;
            height:34vw;
            line-height: 24vw;
            overflow: hidden;
        }
        li .f_img img{object-fit:cover;width:100%;height:100%;}
        .rec_title{
            font-size: .8rem;
        }
        .rec_soldout{
            color:#999;
            font-size:.24rem;
            line-height: 1rem;
        }
        .buy_rec{
            display: flex;
            color:#ff5339;
            align-items:baseline;
            font-size: 1rem;
            justify-content: space-between;
            padding:1vw 0 0 0;
            .rec_base_price{
                font-size: .24rem;
                text-indent: .1rem;
            }
            .action_rec_btn{
                float: right;
            }
            .add_rec,.del_rec{
                background: #3190e8;
                border-radius: 50%;
                display: inline-block;
                font-size: 1.2rem;
                height:1.2rem;
                color:#fff;
                line-height: 1.2rem;
                text-align: center;
                width:1.2rem;
            }
            .del_rec{
                background:$bg_color;
                border:1px solid #3190e8;
                color:#3190e8;
            }
            .buy_count{
                color:#363636;
                // font-size: 1.2rem;
            }
        }
        .price_rec{
            font-size: 1.2rem;
        }
        .price_rec:before{
            content:"￥";
            font-size:1rem;
        }
    }
}
// 商品列表
.food{
    background: $bg_color;
    width: 100%;
    display: flex;
    .food_sort{
        background: #f5f5f5;
        width:20vw;
        ul{
            // height: 4rem;
            margin-right: 2vw;
        }
        .sort_item{
            font-size: .8rem;
            line-height: 2rem;
            padding:2vw 2.4vw;
        }
    }
    .food_list{
        position: relative;
        width:80vw;
        height: 100%;
        overflow-y:scroll;
        .food_list_container{
            height: 100%;
            overflow-y:auto;
            color:#999;
            padding:0 0 140px 0;
        }
        .sort_tag{
            color:#666;
        }
        .food_list_container dt{
            margin-left:2vw;
            padding:2vw 8vw 2vw 0;
            font-size: .8rem;
        }
        .food_list_container span{
            font-size: .6rem;
        }
        .food_show{
            padding:1.2vw 2vw;
            display: flex;
            .food_img{
                flex:1;
                width:24vw;
            }
            .food_img img{
                width:100%;
                object-fit: cover;
                border-radius: .5vw;
            }
            .food_info{
                padding:0 2vw;
                flex:2;
            }
            .food_name{
                color:#363636;
                font-size:1.1rem;
                font-weight: 700;        
            }
            .food_sub,.food_act{
                font-size:.5rem;
                padding:1.3vw 0 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width:48vw;
            }
            .food_act{
                color:#f07373;
                padding:1vw 0 1vw 0;
                .rest{
                    background: rgba(255,76,13,.15);
                    color:#ff4c0d;
                    margin-left: .8vw;
                    vertical-align: middle;
                    padding:0 .6vw;
                }
            }
            
            .price{
                align-items: baseline;
                color:#ff5339;
            }
            .price span{font-size:1.2rem;}
            .price:before{
                content:'￥';
                font-size: 1rem;
            }
            span.sale_base,.old_price{
                font-size:.2rem;
            }
            .old_price{
                color:#999;
            }
            .old_price:before{
                content:'￥'
            }
            //计数器开始
            .active_btn{
                float: right;
                line-height:1.6rem;
                height: 1.4rem;
                display: flex;
            }
            .active_btn span{
                padding:.2vw 1vw;
                font-size: 1rem;
                color:rgba(0,0,0,.87);
                text-align: center;
                width: 7vw;
            }
            .del_cart a,.add_cart a{
                border:solid 1px #3190e8;
                background: #3190e8;
                border-radius: 50%;
                color:#fff;
                display: block;
                font-size: 1.3rem;
                text-align: center;
                line-height:1.3rem;
                width:1.3rem;
            }
            .del_cart a{
                background: $bg_color;
                color:#3190e8;
                font-size:2rem;
            }
            //计数器结束
        }
        
    }
}
// 订单列表
.order_list_fold,.order_list_expand{
    background: $bg_color;
    position:fixed;
    left:0;
    right:0;
    bottom:0;
}
.order_list_fold{padding:0 0 45px 0}
.order_list_expand{
    position: fixed;
    bottom:26vw; 
    left:0;
    right:0;
}
.order_list_fold ul li,.food_box_fee{
    border-bottom: 1px solid #f2f2f2;
    font-size:1.1rem;
    list-style: none;
    margin:0 0 0 4vw;
    height: 14vw;
    line-height: 14vw;
    padding:0 4vw 0 0;
    display: flex;
}
.order_li{
    flex:5.5;
}
.order_account,.order_action{
    flex:2.5;
    text-align: right;
}
.order_action{
    flex:3;
    padding-top: .9rem;
}
.requirement{
    background:#fffad6;
    border-top:1px solid #f9e8a3;
    text-align:center;
    font-size:.24rem;
    line-height:5vw;
}
.requirement .highlight{
    color:#FF5339
}
.clear_cart{
    background: #eceff1;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding:0 4vw;
    height: 10vw;
    //内部元素垂直居中
    align-items: center;
}
.clear_cart span:first-child{
    border-left:#3190e8 solid 5px;
    padding-left:1.3vw;
}
// 购物车
.cart{
    background: rgba(61,61,63,.9);
    color:#999;
    display: flex;
    position: fixed;
    bottom:0vw;
    left:0;
    right:0;
    height: 12vw;
    padding-left:21vw;
    .cart_img{
        border: 1.333333vw solid #444;
        border-radius: 50%; 
        height:11.333vw;
        width:11.333vw;
        display: flex;
        justify-content: center;
        position: absolute;
        left:2.4vw;
        bottom:1vw;
    }
    .my_car{
        background: radial-gradient(circle,#363636 6.266667vw,#444 0);
    }
    .cart_img:before{        
        content:'';
        position: absolute;
        top:0;
        left:0;
    }
    .cart_img>div{
        // background-image:url('/assets/logo.png');
        // background-position: center center;
        // background-size:6vw;
        // background-repeat: no-repeat;
        background-color: #3190e8;
        border-radius: 50%;
        color:#fff;
        text-align: center;
        width:11.333vw;
        height:11.333vw;
    }
    .cart_img>div::before{
        // content:url('data:image/svg+xml;charset=utf-8,<svg t="1538793793239" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4898" data-spm-anchor-id="a313x.7781069.0.i0" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><defs><style type="text/css"></style></defs><path d="M512 0C230.4 0 0 230.4 0 512s230.4 512 512 512 512-230.4 512-512S793.6 0 512 0zM512 960c-249.6 0-448-198.4-448-448 0-249.6 198.4-448 448-448s448 198.4 448 448C960 761.6 761.6 960 512 960z" p-id="4899" fill="#1296db"></path><path d="M691.2 550.4c-51.2 0-96 25.6-121.6 64C486.4 601.6 422.4 537.6 409.6 448c38.4-25.6 64-70.4 64-115.2C473.6 256 409.6 192 332.8 192 256 192 192 256 192 332.8 192 595.2 467.2 832 691.2 832l0 0c76.8 0 140.8-64 140.8-140.8C832 614.4 768 550.4 691.2 550.4zM691.2 780.8 691.2 780.8c-198.4 0-448-217.6-448-448 0-51.2 44.8-96 96-96s96 44.8 96 96c0 32-19.2 64-51.2 83.2L364.8 422.4l0 12.8c0 121.6 102.4 217.6 217.6 224l12.8 0 6.4-12.8c12.8-32 44.8-51.2 83.2-51.2 51.2 0 96 44.8 96 96C787.2 742.4 742.4 780.8 691.2 780.8z" p-id="4900" fill="#1296db"></path></svg>');

        content:url('data:image/svg+xml;charset=utf-8,<svg t="1539776203243" class="icon" width="1.2rem" height="1.2rem" style=" vertical-align: middle; fill: currentcolor; overflow: hidden; font-size: 16px;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3264"><path d="M919.84384 210.41664H241.17248L229.40672 113.3568c-1.92-15.83616-16.5376-28.79488-32.49664-28.79488H190.464c-2.72384 0-5.30944 0.384-7.7312 1.09056H99.77344c-19.14368 0-34.81088 14.3616-34.81088 31.90784s15.6672 31.90784 34.816 31.90784H169.3184L235.7248 697.344c1.92 15.84128 16.54272 28.8 32.49664 28.8h6.4512c2.69312 0 5.25824-0.37888 7.6544-1.07008h548.82304c19.14368 0 34.80576-14.35648 34.80576-31.90784 0-17.55136-15.66208-31.90784-34.80576-31.90784H295.81824l-8.13056-67.11296h545.1776c15.95392 0 31.89248-12.72832 35.42016-28.288l74.15296-327.14752c3.52768-15.55456-6.64064-28.288-22.59456-28.288zM294.58944 865.72032c0 42.8032 34.70336 77.51168 77.51168 77.51168s77.50656-34.70336 77.50656-77.5168c0-42.8032-34.69824-77.50656-77.50656-77.50656s-77.5168 34.70336-77.5168 77.51168z m384.23552 0c0 42.8032 34.70336 77.51168 77.5168 77.51168s77.50656-34.70336 77.50656-77.5168c0-42.8032-34.70336-77.50656-77.51168-77.50656-42.8032 0-77.51168 34.70336-77.51168 77.51168z" p-id="3265" fill="#ffffff" data-spm-anchor-id="a313x.7781069.0.i2"></path></svg>');
        color:#fff;
        position: relative;
        display: inline-block;
        padding-top:.6rem;
    }
    .cart_img>div>span{
        background: #f87622;
        border-radius: 8px;
        font-size: .6rem;
        line-height: 16px;
        position: absolute;
        left:30px;
        top:-6px;
        padding:0 5px;
        height:16px;
    }
    .snow_font{
        color:$bg_color;
    }
    .price_fee{
        flex: 2;
        font-size:1rem;
        line-height: normal;
        padding:1vw 0 0 15vw;
    }
    .fee{
        font-size:.4rem;
    }
    .pay_order,.pay_order_active{
        background-color: #535356;
        color:#fff;
        flex:1;
        font-size:1rem;
        font-weight: 700;
        text-align: center;
        line-height: 12vw;
        // 文本不能被选择
        user-select: none;
        width:16vw;
    }
    .pay_order_active{
        background-color: #38ca73;
    }
}