.font-bold{
    font-weight: 600;
}
.call_blue,.blue_font{
    color:$elm_blue;
}
.call_blue::before{
    content:url('data:image/svg+xml;charset=utf-8,<svg t="1538793793239" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4898" data-spm-anchor-id="a313x.7781069.0.i0" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><defs><style type="text/css"></style></defs><path d="M512 0C230.4 0 0 230.4 0 512s230.4 512 512 512 512-230.4 512-512S793.6 0 512 0zM512 960c-249.6 0-448-198.4-448-448 0-249.6 198.4-448 448-448s448 198.4 448 448C960 761.6 761.6 960 512 960z" p-id="4899" fill="#1296db"></path><path d="M691.2 550.4c-51.2 0-96 25.6-121.6 64C486.4 601.6 422.4 537.6 409.6 448c38.4-25.6 64-70.4 64-115.2C473.6 256 409.6 192 332.8 192 256 192 192 256 192 332.8 192 595.2 467.2 832 691.2 832l0 0c76.8 0 140.8-64 140.8-140.8C832 614.4 768 550.4 691.2 550.4zM691.2 780.8 691.2 780.8c-198.4 0-448-217.6-448-448 0-51.2 44.8-96 96-96s96 44.8 96 96c0 32-19.2 64-51.2 83.2L364.8 422.4l0 12.8c0 121.6 102.4 217.6 217.6 224l12.8 0 6.4-12.8c12.8-32 44.8-51.2 83.2-51.2 51.2 0 96 44.8 96 96C787.2 742.4 742.4 780.8 691.2 780.8z" p-id="4900" fill="#1296db"></path></svg>');
    position: relative;
    top:3px;
    right:3px;
}
.dark_grey{
    color:$dark_grey
}
.left_border::before{
    content:'';
    border-left:1px solid #ccc;
    height:1rem;
    padding:0 .5rem 0 .5rem;
}
.status_container{
    background:$bg_color;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size:.8rem;
    padding:20vw 0 1.5rem 0;
    line-height: 2em;
    .shop_logo{
        border:1px solid #ccc;
        border-radius: 50%;
        height:22vw;
        width:22vw;
        top:3vh;
        position: absolute;
        z-index:2;
    }
    .order_status{
        font-size:1.2rem;
        font-weight:600;
    }
    .ontime{
        color:$bg_color;
        background: #999;
        border-radius: 2px;
        font-size:.6rem;
        line-height: 1.2em;
        padding:0 4px;
    }
}